
<!DOCtype html>


<link rel = "stylesheet" href = "css/style.css">

<header>
Build Your Own Pizza
</header>

<form method = "post" action = "pizza" id = "text_box">

<p> What size would you like your pizza to be? </p>
	<input type="checkbox" name="size[]" value="small"> Small 
		<img src="img/small.png" style="height:100px;width:100px";/> <br>
	<input type="checkbox" name="size[]" value="medium"> Medium 
		<img src="img/medium.png" style="height:100px;width:100px";/> <br>
	<input type="checkbox" name="size[]" value="large"> Large 
		<img src="img/large.png" style="height:100px;width:100px";/> <br>
	<input type="checkbox" name="size[]" value="huge"> Huge 
		<img src="img/huge.png" style="height:183px;width:276px";/> <br>

<p> What sauce would you like on your pizza? </p>
	<input type="checkbox" name="sauce[]" value="marinara"> Marinara 
		<img src="img/marinara.png" style="height:100px;width:100px";/> <br>
	<input type="checkbox" name="sauce[]" value="alfredo"> Alfredo 
		<img src="img/alfredo.png" style="height:100px;width:100px";/> <br>
	<input type="checkbox" name="sauce[]" value="bbq"> BBQ 
		<img src="img/bbq.png" style="height:100px;width:100px";/> <br>
	<input type="checkbox" name="sauce[]" value="buffalo"> Buffalo 
		<img src="img/buffalo.png" style="height:100px;width:100px";/> <br>

<p> What cheese would you like on your pizza? </p>
	<input type="checkbox" name="cheese[]" value="mozzarella"> Mozzarella 
		<img src="img/mozzarella.png" style="height:100px;width:100px";/> <br>
	<input type="checkbox" name="cheese[]" value="provolone"> Provolone 
		<img src="img/provolone.png" style="height:100px;width:100px";/> <br>
	<input type="checkbox" name="cheese[]" value="cheddar"> Cheddar 
		<img src="img/cheddar.png" style="height:100px;width:100px";/> <br>
	<input type="checkbox" name="cheese[]" value="pepper_jack"> Pepper Jack 
		<img src="img/pepper_jack.png" style="height:100px;width:100px";/> <br>

<p> What meat would you like on your pizza? </p>
	<input type="checkbox" name="meat[]" value="bacon"> Bacon 
		<img src="img/bacon.png" style="height:100px;width:100px";/> <br>
	<input type="checkbox" name="meat[]" value="chicken"> Chicken  
		<img src="img/chicken.png" style="height:100px;width:100px";/> <br>
	<input type="checkbox" name="meat[]" value="ham"> Ham  
		<img src="img/ham.png" style="height:100px;width:100px";/> <br>
	<input type="checkbox" name="meat[]" value="sausage"> Sausage 
		<img src="img/sausage.jpeg" style="height:100px;width:100px";/> <br>
	<input type="checkbox" name="meat[]" value="pepperoni"> Pepperoni  
		<img src="img/pepperoni.png" style="height:100px;width:100px";/> <br>

<p> What other toppings would you like to have on your pizza? </p>
	<input type="checkbox" name="toppings[]" value="banana_peppers"> Banana Peppers  
		<img src="img/banana_peppers.png" style="height:100px;width:100px";/> <br>
	<input type="checkbox" name="toppings[]" value="mushrooms"> Mushrooms 
		<img src="img/mushrooms.png" style="height:100px;width:100px";/> <br>
	<input type="checkbox" name="toppings[]" value="onions"> Onions
		<img src="img/onions.png" style="height:100px;width:100px";/> <br>
	<input type="checkbox" name="toppings[]" value="pineapple"> Pineapple 
		<img src="img/pineapple.png" style="height:100px;width:100px";/> <br>

    <input type = "submit">

</form></center>


