
<!DOCtype html>


<link rel = "stylesheet" href = "css/style.css">

<header>
Build Your Own Pizza
</header>


<p>Select your size, sauce, cheese, toppings, etc.</p>

<form method = "post" action = "pizza" id = "text_box">
	<input type="checkbox" name="elements[]" value="small"> Small 
		<img src="img/small.png" style="height:100px;width:100px";/> <br>
	<input type="checkbox" name="elements[]" value="medium"> Medium 
		<img src="img/medium.png" style="height:100px;width:100px";/> <br>
	<input type="checkbox" name="elements[]" value="large"> Large 
		<img src="img/large.png" style="height:100px;width:100px";/> <br>
	<input type="checkbox" name="elements[]" value="huge"> Huge 
		<img src="img/huge.png" style="height:183px;width:276px";/> <br>
	<input type="checkbox" name="elements[]" value="marinara"> Marinara 
		<img src="img/marinara.png" style="height:100px;width:100px";/> <br>
	<input type="checkbox" name="elements[]" value="alfredo"> Alfredo 
		<img src="img/alfredo.png" style="height:100px;width:100px";/> <br>
	<input type="checkbox" name="elements[]" value="bbq"> BBQ 
		<img src="img/bbq.png" style="height:100px;width:100px";/> <br>
	<input type="checkbox" name="elements[]" value="buffalo"> Buffalo 
		<img src="img/buffalo.png" style="height:100px;width:100px";/> <br>
	<input type="checkbox" name="elements[]" value="mozzarella"> Mozzarella 
		<img src="img/mozzarella.png" style="height:100px;width:100px";/> <br>
	<input type="checkbox" name="elements[]" value="provolone"> Provolone 
		<img src="img/provolone.png" style="height:100px;width:100px";/> <br>
	<input type="checkbox" name="elements[]" value="cheddar"> Cheddar 
		<img src="img/cheddar.png" style="height:100px;width:100px";/> <br>
	<input type="checkbox" name="elements[]" value="pepper_jack"> Pepper Jack 
		<img src="img/pepper_jack.png" style="height:100px;width:100px";/> <br>
	<input type="checkbox" name="elements[]" value="bacon"> Bacon 
		<img src="img/bacon.png" style="height:100px;width:100px";/> <br>
	<input type="checkbox" name="elements[]" value="chicken"> Chicken  
		<img src="img/chicken.png" style="height:100px;width:100px";/> <br>
	<input type="checkbox" name="elements[]" value="ham"> Ham  
		<img src="img/ham.png" style="height:100px;width:100px";/> <br>
	<input type="checkbox" name="elements[]" value="sausage"> Sausage 
		<img src="img/sausage.jpeg" style="height:100px;width:100px";/> <br>
	<input type="checkbox" name="elements[]" value="pepperoni"> Pepperoni  
		<img src="img/pepperoni.png" style="height:100px;width:100px";/> <br>
	<input type="checkbox" name="elements[]" value="banana_peppers"> Banana Peppers  
		<img src="img/banana_peppers.png" style="height:100px;width:100px";/> <br>
	<input type="checkbox" name="elements[]" value="mushrooms"> Mushrooms 
		<img src="img/mushrooms.png" style="height:100px;width:100px";/> <br>
	<input type="checkbox" name="elements[]" value="onions"> Onions
		<img src="img/onions.png" style="height:100px;width:100px";/> <br>
	<input type="checkbox" name="elements[]" value="pineapple"> Pineapple 
		<img src="img/pineapple.png" style="height:100px;width:100px";/> <br>
    <input type = "submit">
</form></center>


