
<!DOCtype html>


<link rel = "stylesheet" href = "css/style.css">

<header>
<h4>Build Your Own Pizza</h4>
</header>

<br>
<br>

<p>Select your size, sauce, toppings, etc.</p>

<form method = "post" action = "pizza" id = "text_box">
    <input type = "submit">
</form></center>


