
header {  
    background-color: royalblue;   
    position: absolute;
    top: 5px;
    left: 20%;
    width: 60%;
    font-size: 40px;
    font-family: "times new roman", georgia, serif; 
    color: white;
}
 
body {
    /*background-image: url("../img/Elephant.png");*/
    background-color: white;
    background-size: 100% 100%;
    /*min-height: 100%;*/
    /* The line above is only applicable when trying to use the background image. */
    padding-top: 50px;
    height: 100%;
    width: 100%;
    text-align: center;
    font-size: 40px;
    font-family: "times new roman", georgia, serif; 
    color: royalblue;
}
 
#marv
{
    display: block;
}





